# LLM APIs
anthropic
aider-chat
backoff
openai
google-cloud-aiplatform>=1.38.0
# Logging
python-json-logger>=2.0.0
# Viz
matplotlib
pypdf
pymupdf4llm
# Common Requirements
torch
numpy
transformers
datasets
tiktoken
wandb
tqdm
